*.db
*.pid
*.pyc
*.pyo
.env.development
.provisioned
build
static
cbsd.conf
database.db
env.sh
frontend/build
frontend/node_modules
playbook/group_vars/all
playbook/inventory/inventory
playbook/roles/onelove-roles.freebsd-common
playbook/site.yml
vars.mk
yarn-error.log
site.retry
