*.db
*.pid
*.pyc
*.pyo
.env.development
.provisioned
static
cbsd.conf
database.db
env.sh
frontend/build
frontend/node_modules
ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/onelove-roles.freebsd-common
ansible/site.yml
build/
vars.mk
yarn-error.log
site.retry
